<ion-header>
  <ion-toolbar>
    <ion-title>Play The Waste</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/logo.jpg" alt="challenge 1">
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
      <ion-input placeholder="username"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input placeholder="password" type="password"></ion-input>
        </ion-item>
      <br>
        <ion-button (click)="login()">login</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
