<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hack The Waste
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Challenges</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Stock challenge-->
  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/dolphin.jpg" alt="challenge 3">
      <ion-card-title>A plastic dolphine?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      In dutch we say that is dol fijn and i think that's beautifull.<br>
      <ion-button size="small" color="light">
        <ion-icon  name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button size="small" color="light">
        <ion-icon  name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/boat.jpg" alt="challenge 1">
      <ion-card-subtitle>Made from bottles</ion-card-subtitle>
      <ion-card-title>The plastic boat</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     For this challenge you will have to  build a boat out of plastic bottles.<br>
     <ion-button size="small" color="light">
      <ion-icon  name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" color="light">
      <ion-icon  name="share-social-outline"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/art.jpg" alt="challenge 2s ">
      <ion-card-subtitle>Become an artist</ion-card-subtitle>
      <ion-card-title>Plastic art pieces</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Super goeie beschrijving whahahaauw.<br>
     <ion-button size="small" color="light">
      <ion-icon  name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" color="light">
      <ion-icon  name="share-social-outline"></ion-icon>
    </ion-button>
    </ion-card-content>
  </ion-card>
  
  
  
</ion-content>
