<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Challenges</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Stock challenge-->
  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/boat.jpg" alt="challenge 1">
      <ion-card-subtitle>Made from bottles</ion-card-subtitle>
      <ion-card-title>The plastic boat</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     For this challenge you will have to  build a boat out of plastic bottles.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/boat.jpg" alt="challenge 1">
      <ion-card-subtitle>Made from bottles</ion-card-subtitle>
      <ion-card-title>The plastic boat</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     For this challenge you will have to build a boat out of plastic bottles.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/cards/boat.jpg" alt="challenge 1">
      <ion-card-subtitle>Made from bottles</ion-card-subtitle>
      <ion-card-title>The plastic boat</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     For this challenge you will have to build a boat out of plastic bottles.
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
